/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/


profiles {

    standard {
        includeConfig 'conf/base.config'
    }
    singularity_test {
        includeConfig 'conf/base.config'
        includeConfig 'conf/singularity.config'
    }
    hpc {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
    }
    hpc_slurm {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/any_slurm.config'
    }
    hpc_singularity {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/singularity.config'
    }
    hpc_singularity_slurm {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/any_slurm.config'
    }
    uppmax {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/uppmax.config'
        includeConfig 'conf/any_slurm.config'
    }
    uppmax_modules {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/uppmax_modules.config'
        includeConfig 'conf/any_slurm.config'
    }
    tegner {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/any_slurm.config'
        includeConfig 'conf/tegner.config'
    }
}


