/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/

manifest {
  homePage = 'https://github.com/SciLifeLab/NGI-NeutronStar'
  description = 'De novo assembly pipeline for 10X linked-reads, used at the SciLifeLab National Genomics Infrastructure.'
  mainScript = 'main.nf'
}

params {
    version = '0.5dev'
    nf_required_version = '0.27.6'
    name = false
    email = false
    plaintext_email = false
    outdir="."
    mqc_config = "$baseDir/misc/multiqc_config.yaml"
    minsize = 1000
    full_output = false
    BUSCOfolder = "$baseDir/data"
}


profiles {

    standard {
        includeConfig 'conf/base.config'
    }
    docker_test {

      includeConfig 'conf/base.config'
      docker {
        enabled = true
      }
      process {
        container = { "remiolsen/ngi-neutronstar" }
        $supernova {
          container = { "remiolsen/supernova" }
        }
      }
    }
    singularity_test {
        includeConfig 'conf/base.config'
        includeConfig 'conf/singularity.config'
    }
    hpc {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
    }
    hpc_slurm {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/any_slurm.config'
    }
    hpc_singularity {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/singularity.config'
    }
    hpc_singularity_slurm {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/any_slurm.config'
    }
    uppmax {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/uppmax.config'
        includeConfig 'conf/any_slurm.config'
    }
    uppmax_modules {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/uppmax_modules.config'
        includeConfig 'conf/any_slurm.config'
    }
    tegner {
        includeConfig 'conf/base.config'
        includeConfig 'conf/hpc.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/any_slurm.config'
        includeConfig 'conf/tegner.config'
    }
}


timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/dag.html"
}
