/*
vim: syntax=groovy
-*- mode: groovy;-*-
 *  ----------------------------------------------------------------------------------
 *  General config for any slurm system
 *  Use the option --clusterOptions='-A <your_slurm_account>'
 *  Intended infrastucture: Any
 */


process.clusterOptions = params.clusterOptions

process {
    executor = 'slurm'
    $software_versions.executor = 'local'
    $multiqc.executor = 'local'
}
