/*
vim: syntax=groovy
-*- mode: groovy;-*-
 *  ----------------------------------------------------------------------------------
 *  Base configuration. Intended for running the test dataset included with Supernova.
 *  Intended infrastucture: Local desktop, test-run in any environment
 */


process {
    executor = 'local'
    cpus = { 4 }
    memory = { 8.GB }
    time = { 1.h * task.attempt }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 0
    maxErrors = '-1'
    validExitStatus = [0,127]

    $supernova {
        scratch = '$TMP'
    }
}
