/*
vim: syntax=groovy
-*- mode: groovy;-*-
 *  ----------------------------------------------------------------------------------
 *  Config for UPPMAX environments using their module system. Assembly of 
 *  anything up to mammalian genomes, 
 *  consider altering this for polyploids and/or genomes with high repeat content.
 *  Intended infrastucture: One single node (i.e. machine) with minimum 16 cores, 
 *  256 Gb RAM.
 */

params.BUSCOfolder = '/sw/apps/bioinfo/BUSCO/v2_lineage_sets'
// Just a shorthand for doing very basic assembly QC
params.BUSCOdata = 'eukaryota_odb9'

process {
    $software_versions {
        module = ['bioinfo-tools', 'BUSCO/2.0.1', 'quast/4.5.4', 'MultiQC/1.3', 'supernova/2.0.0']
        errorStrategy = 'ignore'
    }
    $supernova {
        // Check the configuration of your system where your scratch partition is located.
        // Rule of thumb. For each assembly, have at least 10 times the space as the input data free.
        module = ['bioinfo-tools', 'supernova/2.0.0']
        memory = { 250.GB }
        scratch = '$SNIC_TMP'
    }
    $mkoutput {
        module = ['bioinfo-tools', 'supernova/2.0.0']
    }
    $quast {
        module = ['bioinfo-tools', 'quast/4.5.4']
    }
    $busco {
        module = ['bioinfo-tools', 'BUSCO/2.0.1']
    }
    $multiqc {
        module = ['bioinfo-tools','MultiQC/1.3']
    }

}
