/*
vim: syntax=groovy
-*- mode: groovy;-*-
 *  ----------------------------------------------------------------------------------
 *  Config for UPPMAX environments but using singularity. Assembly of 
 *  anything up to mammalian genomes, 
 *  consider altering this for polyploids and/or genomes with high repeat content.
 *  Intended infrastucture: One single node (i.e. machine) with minimum 16 cores, 
 *  256 Gb RAM.
 */

params.BUSCOfolder = '/sw/apps/bioinfo/BUSCO/v2_lineage_sets'
// Just a shorthand for doing very basic assembly QC
params.BUSCOdata = 'eukaryota_odb9'

singularity {
  enabled = true
}

process {
  container = { "docker://remiolsen/ngi-neutronstar" }
  $supernova {
    // Check the configuration of your system where your scratch partition is located.
    // Rule of thumb. For each assembly, have at least 10 times the space as the input data free.
    memory = { 250.GB }
    scratch = '$SNIC_TMP'
  }

}
